{% extends "base.html.twig" %}
{% block title 'Porfolio | ' ~ parent() %} 
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1>Portfolio Lady  <h1>

<h2> Built with <span class="text-danger"> &hearts; </span> by Leidiane Yvanoff <h1>
<p>
<a href="{{ path('app_home')}}">Accueil</a>
</p>
        </div>
    </div>
</div>
  



{% endblock %}